openapi: 3.0.0
info:
  title: Transactions API
  description: API pour la gestion des transactions dans le dashboard (Phase 2)
  version: 1.0.0
servers:
  - url: https://api.argentbank.com
    description: Production Server
paths:
  /transactions/{id}:
    get:
      summary: Récupérer les détails d'une transaction
      description: Retourne les détails d'une transaction spécifique.
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: ID de la transaction
          schema:
            type: string
      responses:
        "200":
          description: Détails de la transaction retournés avec succès
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transaction'
        "403":
          description: Accès interdit
        "404":
          description: Transaction non trouvée
        "500":
          description: Erreur serveur interne
    put:
      summary: Modifier la catégorie et la note d'une transaction
      description: Permet de modifier uniquement la catégorie et la note d'une transaction existante.
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: ID de la transaction
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                category:
                  type: string
                note:
                  type: string
      responses:
        "200":
          description: Transaction mise à jour avec succès
        "400":
          description: Requête invalide
        "403":
          description: Accès interdit
        "404":
          description: Transaction non trouvée
        "500":
          description: Erreur serveur interne
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    Transaction:
      type: object
      properties:
        id:
          type: string
          example: "123456"
        date:
          type: string
          format: date-time
          example: "2024-02-01T12:30:00Z"
        description:
          type: string
          example: "Paiement factures"
        amount:
          type: number
          example: 150.75
        category:
          type: string
          example: "Factures"
        note:
          type: string
          example: "Payé via virement bancaire"
        transactionType:
          type: string
          example: "Dépense"
        accountId:
          type: string
          example: "987654"
